* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border {
  box-shadow: #050505;
}

/* font-family: 'Pattaya';
font-family: 'Henny Penny';
font-family: 'Roboto',
sans-serif; */
h1 {
  font-size: 2rem;
  font-family: "pattaya";
}

h2 {
  font-size: 1.5rem;
  font-family: "Henny Penny";
}

h3 {
  font: size 1rem;
  font-family: "Henny Penny";
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

$black: #050505;
$white: #f2f2f2;
$yellow: #ffcd00;
$green: #70c02c;
$purpel: #a752aa;
.footer {
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-color: $black;
  grid-column: 1/6;
  color: $white;
  position: relativea;
  bottom: 0;
}
